body {
  background: #f1f2f7;
  display: block;
  font-family: 'Open Sans' sans-serif !important;
  font-size: 16px;
  width: 100%;
  height: 100vh!important; }
#jumbotroncon{
  padding: 0px!important;
  margin-bottom: 0px!important;

}
#indpg h4{
  background: #6091ba !important;
  color: white !important;
  font-size: 18px;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
}
p{
  color: black !important;
}

#iv{
  background: red!important;
}
#irr{
  width: 100%;
}
#irr button{
  width: 30%;
  margin-left: 5px;
  margin-top: 05px;
  border: 1px solid #272C33;
  border-radius: 20px;
  background: rgba(39,44,51,1);
  letter-spacing: 1px;
}


#jum1{
  padding-top: 25px;
  width: 100%;
  background: #fff;
  max-height:180px;
  margin: 0px;
}
#jum1 #jumleft img{
  width: 110px;
  position: absolute;
  margin-left: -470px;
  height: 110px;
  margin-top: 20px!important;
}
#jum1 #nba img{
  width: 60px !important;
  position: absolute;
  margin-left: -360px;
  height: 60px !important;
  margin-top: 60px;
}
#jum1 #naac img{
  width: 90px !important;
  position: absolute;
  margin-left: 380px;
  height: 70px !important;
  margin-top: 55px;
}

#jum1 #jumright {
  justify-content: center;
}
#jum1 h2{
  padding-left: 05%;
  font-size: 25px;
  font-weight: 600;
}
#jum1 h6{
  padding-top: 3px;
  padding-left: 5%;
  font-size: 16px;
  display: block!important;
  
}


#jum{
  padding-top: 25px;
  width: 100%;
  background: #fff;
  max-height:180px;
  margin: 0px;
}
#jumleft img{
  width: 110px;
  position: absolute;
  margin-left: -470px;
  height: 110px;
  margin-top: 4px!important;
}
#nba img{
  width: 60px !important;
  position: absolute;
  margin-left: -360px;
  height: 60px !important;
  margin-top: 30px;
}
#naac img{
  width: 90px !important;
  position: absolute;
  margin-left: 380px;
  height: 70px !important;
  margin-top: 15px;
}

#jumright {
  justify-content: center;
}
#jum h2{
  padding-left: 05%;
  font-size: 25px;
  font-weight: 600;
}
#jum h6{
  padding-top: 3px;
  padding-left: 5%;
  font-size: 16px;
  display: block!important;
  
}
/* hod login*/
#hlg{
  margin-top: 15px!important;
  margin-left: 15%!important;
  max-width: 65%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 10%!important;
}
#hlg h4{
  color: #272c33;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-left: 25%;

}
#hlg a{
  color: #272c33;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 30%;
  font-weight: 600;
}
#hlg a:hover{
  color: #272c33;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 30%;
  text-decoration: underline;

}


#hlg label{
  margin-left: 10%;
  font-size: 15px;
  font-weight: 600;
}
#hlg #usr{
  width: 80%;
  margin-left: 10%;
}
#hlg #pwd{
  width: 80%;
  margin-left: 10%;
}
#hlg #hlgsub{
  width: 80%;
  margin-left: 10%;
  border: 1px solid #272C33;
  border-radius: 20px;
  background: rgba(39,44,51,1);
  letter-spacing: 1px;
}
#hlg #hlgsub:hover{
  width: 80%;
  margin-left: 10%;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#fpwd{
  color: #272C33;
  font-size: 17px;
  margin-top: 10px!important;
  padding-top: 10px!important;

}
#fpwd:hover{
  color: rgba(39,44,51,0.9);
}
#hdl{
  margin-top: 2%!important;
  max-width: 70%!important;
  background: #FFF;
  padding-top: 3%;
  padding-left: 13%!important;
  padding-bottom: 5%;
}
#hdl label{
  color: black;
  font-weight: 600;
}
#hdl select{
  width: 77% !important;
}
#hdl h5{
  font-size:23px;
  letter-spacing: 1px;
  padding-left: 20%;
  padding-bottom: 5%;
}
#hdl button{
  margin-top: 25px;
  width: 77%;
  letter-spacing: 1px;
  border: 1px solid #272C33!important;
  border-radius: 25px;
  background: rgba(39,44,51,1);
}

#hdl button:hover{
  width: 77%; 
  border-radius: 5px solid #272C33;
  background: rgba(39,44,51,0.8);
}
#hrp {
  margin-top: 5px!important;
  margin-left: 8%!important;
  max-width: 85%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 4%!important;
  padding-bottom: 5%!important;
}
#hrp h5{
  margin-bottom: 5px;
  font-weight: 600;
}
#hrp h6{
  margin-bottom: 10px;
  font-weight: 600;
}
#hrp a{
  font-size: 16px;
  padding-left: 1%;
  color: #2c97eb !important;
  float: left;
}
#hrp a:hover{
  font-size: 16px;
  padding-left: 1%;
  color: #2c97eb !important;
  float: left;
  text-decoration: underline;
}

#hrp input{
 margin-top: 25px;
  width: 30%;
  border: 1px solid #272C33!important;
  border-radius: 25px;
  background: rgba(39,44,51,1); 
}
#hrp input:hover{
 margin-top: 25px;
  width: 30%;
  border: 1px solid #272C33!important;
  border-radius: 25px;
  background: rgba(39,44,51,0.8); 
}
#ablst{
  margin-top: 15px!important;
  margin-left: 10%!important;
  max-width: 80%!important;
  padding-left: 2%!important;
  padding-right: 2%;
  background: #fff;
  padding-top: 2%!important;
  padding-bottom: 5%!important;
}


#ablst input[type=submit]{
  margin-top: 25px;
  width: 55%;
  letter-spacing: 1px;
  border: 1px solid #272C33!important;
  border-radius: 25px;
  background: rgba(39,44,51,1);
}
#ablst input[type=submit]:hover{
  margin-top: 25px;
  width: 55%;
  letter-spacing: 1px;
  border: 1px solid #272C33!important;
  border-radius: 25px;
  background: rgba(39,44,51,0.8);
}

#ab input[type=submit]{
  margin-top: 25px;
  width: 55%;
  letter-spacing: 1px;
  border: 1px solid #272C33!important;
  border-radius: 25px;
  background: rgba(39,44,51,1);
}
#ab input[type=submit]:hover{
  margin-top: 25px;
  width: 55%;
  letter-spacing: 1px;
  border: 1px solid #272C33!important;
  border-radius: 25px;
  background: rgba(39,44,51,0.8);
}


#absl2{
  margin-top: 15px!important;
  margin-left: 10%!important;
  max-width: 80%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 2%!important;
  padding-bottom: 5%!important;
}
#ablst h4{
  font-weight: 600;
}

#tortnodat{
  color: #2c97eb !important;
  margin-top: 5%!important;
  padding-bottom: 10px;
  padding-top: 5%!important;
}
#tortnodat:hover{
  color: #2c97eb !important;
  margin-top: 5%!important;
  padding-bottom: 10px;
  padding-top: 5%!important;
}
#ablst a{
  color: #2c97eb !important;
  font-weight: 600;
  margin-top: 5%!important;
  padding-bottom: 10px;
  padding-top: 5%!important;
}
#ablst a:hover{
  padding-bottom: 10px;
  text-decoration: underline;
  color: #2c97eb !important;
  margin-top: 5%!important;
  padding-top: 5%!important;
}

#hasp {
  margin-top: 5px!important;
  margin-left: 10px!important;
}
#hasp p {
  color: #272C33;
  font-size: 18px;
}
#hasp1 {
  margin-top: 5px!important;
  margin-left: 10px!important;
}
#hasp1 button{
  margin-top: 1px;
  margin-bottom: 10%!important;
  width: 90%;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.9);
}
#stfbtn{
  margin-top: 1px;
  margin-bottom: 10%!important;
  width: 90%;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.9);

}
#stfbtn:hover{
  margin-top: 1px;
  margin-bottom: 10%!important;
  width: 90%;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.7)!important;

}
#hasp1 button:hover{
  width: 90%; 
  border-radius: 5px solid #272C33;
  background: rgba(39,44,51,0.7);
}

#hasp2 {
  margin-top: 5px!important;
  margin-left: 5px!important;
}
#hsud{
  margin-top: 5%!important;
  margin-left: 5px!important;
}
#hsud input[type=file]{
  width: 60%;
  margin-left: 5%;
}
#hsub{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 85%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#hsub label{
  font-weight: 600;
  font-size: 15px;
}
#hsub select{
  width: 100%!important;
}
#hsub h5{
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

#hsub button{
  margin-top: 1px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#hsub button:hover{
  margin-top: 1px;
  margin-bottom: 10%!important;
  width: 100%;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8)!important;

}
#stfrbk{
  margin-top: 15px!important;
  margin-left: 5%!important;
  max-width: 85%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#stfrbk h4{
  color: black;
  padding-left: 30%;
  font-size: 23px;
  text-transform: capitalize;
  padding-bottom: 5%;
  font-weight: 600;
}

#stfrbk label{
  color: black;
  font-size: 15px;
  font-weight: 600;
}
#stfrbk select{
  width: 90%;
}
#btnExportToCsv {
  padding-right: 20PX;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20PX;
  width: 200px;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 10PX;
  border: 1px solid #272c33 !important;
}
#btnExportToCsv:hover {
  padding-right: 20PX;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20PX;
  width: 200px;
  border-radius: 10px;
  color: #fff;
  background-color:#6091ba;
  margin-right: 10PX;
  border: 1px solid #272c33 !important;
}


#stfreg1{
  margin-top: 15px!important;
  margin-left: 13%!important;
  max-width: 70%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#stfreg1 h4{
  color: black;
  padding-left: 30%;
  font-size: 23px;
  text-transform: capitalize;
  padding-bottom: 5%;
  font-weight: 600;
}

#stfreg1 label{
  color: black;
  font-size: 15px;
  font-weight: 600;
}
#stfreg1 select{
  width: 90%;
}
#stfreg1 button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 90%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#stfreg1 button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 90%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}

#stfinfo{
  margin-top: 15px!important;
  margin-left: 13%!important;
  max-width: 70%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#stfinfo h5{
  color: black;
  padding-left: 30%;
  font-size: 23px;
  text-transform: capitalize;
  padding-bottom: 5%;
  font-weight: 600;
}

#stfinfo label{
  color: black;
  font-weight: 600;
}
#stfinfo select{
  width: 90%;
}
#stfinfo button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 90%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#stfinfo button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 90%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}

#stfinfo2{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#stfinfo2 a{
  color: #2c97eb!important;
  font-weight: 600;
}
#stfinfo2 a:hover{
  color: #2c97eb!important;
  font-weight: 600;
  text-decoration: underline;
}
#stfky{
  margin-top: 15px!important;
  margin-left: 13%!important;
  max-width: 65%!important;
  padding-left: 13%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#stfky h5{
  font-weight: 600;
  font-size: 21px;
  padding-bottom: 5%;
  padding-left: 15%;
  text-transform: capitalize;
}
#stfky label{
  font-weight: 600;

}
#stfky input[type=text]{
  width: 85%;
  padding-left: 6%;
}
#stfky input[type=submit] {
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 85%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#stfky input[type=submit]:hover {
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 85%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#asnstf{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 85%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#asnstf p{
  font-weight: 600;
}

#asnstf label{
  font-weight: 600;
  font-size: 15px;
}
#asnstf .form-check{
  padding-left: 10%;
}
#asnstf button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#asnstf button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#asnstf2{
  margin-top: 2%!important;
  margin-left: 8%!important;
  max-width: 85%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#asnstf2 .form-group{
  width: 100%;
}
#asnstf2 label{
  font-weight: 200;
  font-size: 15px!important;
}
#asnstf2 label{
  font-weight: 600;
}
#asnstf2 h5{
  display: inline!important;
}
#asnstf2 select{
  width: 100%!important;
}
#asnstf2 button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#asnstf2 button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#updstfsub{
  margin-top: 2%!important;
  margin-left: 8%!important;
  max-width: 85%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#updstfsub label{
  font-weight: 200;
  font-size: 15px!important;
}
#updstfsub label{
  font-weight: 600;
}
#updstfsub h5{
  display: inline!important;
}
#updstfsub select{
  width: 100%!important;
}
#updstfsub button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#updstfsub button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#updsub{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 85%!important;
  padding-left: 6%!important;
  padding-right: 6%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#updsub a{
  font-size: 15px;
  padding-left: 10px;
  color: blue !important;
}
#updsub a:hover{
  font-size: 15px;
  padding-left: 10px;
  color: blue;
  text-decoration: underline;
}

#hstup{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 80%!important;
  padding-left: 7%!important;
  padding-right: 7%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#hstup label{
  font-weight: 600;
}
#hstup a{
  color: black!important;
}
#hstup a:hover{
  text-decoration: underline;
}
#hstup input[type=submit] {
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#hstup input[type=submit]:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#chstdt1{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 70%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#chstdt1 label{ 
  font-weight: 600;
}
#chstdt1 button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#chstdt1 button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#chstdp2{
  margin-top: 15px!important;
  margin-left: 7%!important;
  max-width: 85%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#chstdp2 h5{
  font-weight: 600;
}
#chstdp2 label{ 
  font-weight: 600;
}
#chstdp2 button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#chstdp2 button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#chktotatd{
  margin-top: 15px!important;
  margin-left: 10%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#chktotatd label{
  font-weight: 600;
}
#chktotatd button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#chktotatd button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}

#hins{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 85%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#hins label{
  font-size: 15px;
  font-weight: 600;
}
#hins button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#hins button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8)!important;

}


#slgp{
  margin-top: 15px!important;
  margin-left: 15%!important;
  max-width: 65%!important;
  padding-left: 5%!important;
  padding-right: 15% !important;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#slgp label{
  font-weight: 600;
  font-size: 15px;

}
#slgp h4{
  color: #272c33;
  letter-spacing: 2px;
  padding-left: 10%;
  margin-bottom: 10px;
  margin-left: 25%;
  font-weight:600;

}
#stflgreg{
  margin-left: 10%;
}
#slgp a{
  margin-left: 15%!important;
  margin-top: 10px!important;
  color: #272C33!important;
}
#slgp a:hover{
  margin-left: 15%!important;
  margin-top: 10px!important;
  color: #272C33!important;
  text-decoration: underline;
}
#slgp label{
  margin-left: 10%;
}
#slgp #usr{
  width: 100%;
  margin-left: 10%;
}
#slgp #pwd{
  width: 100%;
  margin-left: 10%;
}
#slgp #slgsub{
  width: 100%;
  margin-left: 10%;
  border: 1px solid #272C33;
  border-radius: 20px;
  background: rgba(39,44,51,1);
  letter-spacing: 1px;
}
#slgp #slgsub:hover{
  width: 100%;
  margin-left: 10%;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#fgpwd{
  margin-top: 15px!important;
  margin-left: 15%!important;
  max-width: 65%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#fgpwd h5{
  font-weight: 600;
  padding-left: 20%;
  padding-bottom: 5%;
}
#fgpwd label{
  font-size: 15px;
  font-weight: 600;
}
#fgpwd input[type="submit"]{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#fgpwd input[type="submit"]:hover {
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#fgpwd button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#fgpwd button:hover {
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}

#ssub{
  margin-top: 15px!important;
  margin-left: 7%!important;
  max-width: 85%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#ssub button{
  width: 60%;
  margin-top: 10px;
  margin-left: 10%;
  border: 1px solid #272C33;
  border-radius: 20px;
  background: rgba(39,44,51,1);
  letter-spacing: 1px;
}
#ssub button:hover{
  width: 60%;
  margin-top:10px;
  border-radius: 20px;
  background: rgba(39,44,51,0.9);
}
#selele{
  margin-top: 15px!important;
  margin-left: 13%!important;
  max-width: 70%!important;
  padding-left: 10%!important;
  padding-right: 10%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#selele h5{
  padding-left: 18%;
  padding-bottom: 7%;
}
#selele label{
  font-size: 15px;
  font-weight: 600;
}
#selele button{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,1);
}
#selele button:hover{
  margin-top: 10px;
  margin-bottom: 10%!important;
  width: 100%!important;
  letter-spacing: 2px;
  border: 1px solid #272C33!important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8);
}
#assele{
  margin-top: 15px!important;
  margin-left: 10%!important;
  max-width: 85%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#assele button{
  border-radius: 20px;
  width: 60%;
}
#assele label{
  font-weight: 600;
}
#assele a{
  font-weight: 600;
  color: #2c97eb!important;
}
#assele a:hover{
  font-weight: 600;
  color: #2c97eb!important;
  text-decoration: underline;
}
#chstd{
  margin-top: 15px!important;
  margin-left: 10%!important;
  max-width: 85%!important;
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#stfinf p,a{
  color: #272c33 !important;
}
#stfinf label{
  width: 60%!important;
  margin-left: 10%;
}
#stfinf select{
  width: 60% !important;
  margin-left: 10%!important;
}
#stfinf{
  margin-top: 5%;
  width: 80%!important;
  margin-left: 5%!important;
  
}
#stf1 p{
  color:#272c33!important;
  font-weight: 600;
  font-size: 20px;
}
#stfinf button{
    width: 60%!important;
  margin-top: 10px;
  margin-left: 10%;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}

#stfinf button:hover{
    width: 60%!important;
  margin-top: 10px;
  margin-left: 10%;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,8) !important;
  letter-spacing: 1px;
}
#brnwise{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#brnwise h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#brnwise label{
  font-size: 15px;
  font-weight: 600;
}
#brnyear select{
  width: 85%;
}
#brnwise input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#brnwise input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}
#prisel{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#prisel select{
  width: 90%;
}
#wekbrn{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#wekbrn h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#wekbrn label{
  font-size: 15px;
  font-weight: 600;
}
#wekbrn input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#wekbrn input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}
#wekbrnyr {
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#wekbrnyr h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#wekbrnyr label{
  font-size: 15px;
  font-weight: 600;
}
#wekbrnyr select{
  width: 90%;
}
#wekbrnyr input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#wekbrnyr input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}
#weksect {
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#weksect h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#weksect label{
  font-size: 15px;
  font-weight: 600;
}
#weksect select{
  width: 90%;
}
#weksect input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#weksect input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}
#monbrn{
  margin-top: 15px!important;
  padding-left: 5%!important;
  padding-right: 5%;
  width: 85%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#monbrn h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#monbrn label{
  font-size: 15px;
  font-weight: 600;
}
#monbrn select{
  width: 90%;
}
#monbrn input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#monbrn input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}
#mnyer{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#mnyer h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#mnyer label{
  font-size: 15px;
  font-weight: 600;
}
#mnyer select{
  width: 90%;
}
#mnyer input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#mnyer input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}
#chhodpwd{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#upstfinf {
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

} 
#upstfinf h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#upstfinf alert{
  width: 85%;
}
#upstfinf label{
  font-size: 15px;
  font-weight: 600;
}
#upstfinf input{
  width: 85%;
  }
#upstfinf select{
  width: 85%;
}
#upstfinf button{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#upstfinf button:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}





#chhodpwd h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#chhodpwd label{
  font-size: 15px;
  font-weight: 600;
}
#chhodpwd input[type="password"]{
  width: 85%;
  }
#chhodpwd select{
  width: 85%;
}
#chhodpwd button{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#chhodpwd button:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}




#attp{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#attp h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#attp label{
  font-size: 15px;
  font-weight: 600;
}
#attp select{
  width: 90%;
}
#attp input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#attp input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}
#monsec{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#monsec h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#monsec label{
  font-size: 15px;
  font-weight: 600;
}
#monsec select{
  width: 90%;
}
#monsec input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#monsec input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}
#prisel h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#prisel label{
  font-size: 15px;
  font-weight: 600;
}
#prisel input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#prisel input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}

#brnyear{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#brnyear select{
  width: 90%;
}

#brnyear h5{
  padding-left: 25%;
  padding-bottom: 5%;
  font-weight: 600;
  text-transform: capitalize;
}
#brnyear label{
  font-size: 15px;
  font-weight: 600;
}
#brnyear input[type="submit"]{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#brnyear input[type="submit"]:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}

#monatt{
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#monatt input[type="submit"]{
  width: 35%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#monatt input[type="submit"]:hover{
  width: 35%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}

#keyver{
  margin-top: 03%!important;
  margin-left: 10%!important;
  max-width: 75%!important;
  padding-left: 10%!important;
  padding-right: 5%;
  background: #fff!important;
  padding-top: 5%!important;
  padding-bottom: 5%!important;
}
#keyver h5{
  
  padding-left: 25%;
  font-weight: 600;
  padding-bottom: 5%;
}
#keyver label{
  font-size: 15px;
  font-weight: 600;
}
#keyver select{
  width: 85%;
}
#keyver input[type="text"]{
  width: 85%;
}
#keyver button{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#keyver button:hover{
  width: 85%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}

#totad{
  margin-top: 15px!important;
  margin-left: 8%!important;
  max-width: 75%!important;
  padding-left: 8%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#totad h5{
  padding-left: 10%;
}
#totad label{
  font-weight: 600;
}
#totad button{
  width: 100%!important;
  margin-top: 10px;
  margin-left: 10%;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#totad button{
  width: 100%!important;
  margin-top: 10px;
  margin-left: 10%;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}

#totp2{
  padding-left: 5%!important;
  padding-right: 5%;
  background: #fff;
  padding-top: 5%!important;
  padding-bottom: 5%!important;

}
#totp2 input[type="submit"]{
  width: 35%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#totp2 input[type="submit"]:hover{
  width: 35%;
  margin-top: 10px;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,0.8) !important;
  letter-spacing: 1px;
}


#totad label{
  width: 60%!important;
  margin-left: 10%;
}
#totad select{
  width: 60% !important;
  margin-left: 10%!important;
}

#totad button{
    width: 60%!important;
  margin-top: 10px;
  margin-left: 10%;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,1) !important;
  letter-spacing: 1px;
}
#totad button: hover{
    width: 60%!important;
  margin-top: 10px;
  margin-left: 10%;
  border: 1px solid #272C33 !important;
  border-radius: 20px;
  background: rgba(39,44,51,8) !important;
  letter-spacing: 1px;
}

div[class*="col-"] {
  float: left; }

p {
  font-size: 16px;
  font-family: 'Open Sans' sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: black!important; }

p:focus {
  border: none;
  outline: 0; }

a,
button {
  text-decoration: none;
  outline: none !important;
  color: #878787;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }

a:focus,
a:hover {
  text-decoration: none;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  display: inline-block; }

ol,
ul {
  padding-left: 0; }

.btn:focus,
button:focus {
  box-shadow: none !important;
  outline: 0; }

img {
  max-width: 100%; }

.btn,
button,
input,
textarea {
  box-shadow: none;
  outline: 0 !important; }

.no-padding {
  padding: 0 !important; }

/* Global Styles */
/* Main Styles */
.basix-container {
  display: table;
  min-height: 100vh;
  position: relative;
  width: 100%; }

aside.left-panel {
  background: #272c33;
  display: table-cell;
  height: 100vh;
  min-height: 100%;
  padding: 0 25px;
  vertical-align: top;
  width: 280px;
  -webkit-transition:width 0.3s ease;
  transition: width 0.3s ease; }

.navbar {
  background: #272c33;
  border-radius: 0;
  border: none;
  display: block;
  margin: 0 0 100px;
  padding: 0; }
  .navbar .navbar-header {
    float: none;
    text-align: center;
    width: 100%; }
  .navbar .navbar-brand {
    border-bottom: 1px solid #4e4e52;
    color: #f1f2f7 !important;
    font-family: 'Open Sans';
    font-size: 22px;
    float: none;
    line-height: 50px;
    margin: 0;
    text-align: left;
    text-transform: capitalize;
    display: block;
    min-height: 69px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .navbar .navbar-brand span {
      font-weight: 600; }
    .navbar .navbar-brand img {
      max-width: 160px; }
    .navbar .navbar-brand.hidden {
      display: none; }
  .navbar .menu-title {
    border-bottom: 1px solid #4e4e52;
    color: #9496a1;
    clear: both;
    display: block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    padding: 15px 0 0;
    text-transform: uppercase;
    width: 100%; }
  .navbar .navbar-nav {
    float: none;
    position: relative; }
    .navbar .navbar-nav li {
      width: 100%; }
      .navbar .navbar-nav li.active .menu-icon,
      .navbar .navbar-nav li:hover .toggle_nav_button:before,
      .navbar .navbar-nav li .toggle_nav_button.nav-open:before {
        color: #fff !important; }
      .navbar .navbar-nav li .dropdown-toggle:after {
        display: none; }
      .navbar .navbar-nav li > a {
        background: none !important;
        color: #c8c9ce !important;
        display: inline-block;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 30px;
        padding: 10px 15px !important;
        padding-right: 15px;
        position: relative;
        width: 100%;  }
        .navbar .navbar-nav li > a:hover
         {
          background: rgba(249,249,249,0.5)!important;
          color: black!important;
          border-radius: 25px;
          padding-left: 50px;
          transition-duration: 0.3s;
          width: 100%;
           }
        .navbar .navbar-nav li > a .menu-icon {
          color: #8b939b;
          float: left;
          margin-top: 8px;
          width: 55px;
          text-align: left;
          z-index: 9; }
        .navbar .navbar-nav li > a .menu-title-text {
          font-size: 14px; }
        .navbar .navbar-nav li > a .badge {
          border-radius: 0;
          font-family: 'Open Sans';
          font-weight: 600;
          float: right;
          margin: 6px 0 0;
          padding: 0.4em 0.5em; }
      .navbar .navbar-nav li.menu-item-has-children {
        position: relative; }
        .navbar .navbar-nav li.menu-item-has-children a {
          line-height: 30px; }
          .navbar .navbar-nav li.menu-item-has-children a:before {
            content: "\f105";
            color: #c8c9ce;
            font-family: 'Fontawesome';
            font-size: 16px;
            position: absolute;
            top: 10px;
            right: 15px;
            text-align: right;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;}
          .navbar .navbar-nav li.menu-item-has-children a:hover:before {
            color: #fff; }
        .navbar .navbar-nav li.menu-item-has-children .sub-menu {
          background: #272c33;
          border: none;
          box-shadow: none;
          overflow-y: hidden;
          padding: 0 0 0 35px; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu li {
            position: relative; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu i {
            color: #c8c9ce;
            float: left;
            padding: 0;
            position: absolute;
            left: 0;
            font-size: 14px;
            top: 9px; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
            padding: 2px 0 2px 30px; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
              content: '';
              display: none; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
              top: 13px;
              text-align: left;
              width: 25px; }
        .navbar .navbar-nav li.menu-item-has-children.show a:before {
          content: "\f107"; }
        .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
          max-height: 1000px;
          opacity: 1;
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          position: static !important; }

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  color: #d7d9e3 !important; }

.navbar-nav li span.count {
  background: #a9d86e;
  border-radius: 50%;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 9px;
  font-weight: 700;
  float: right;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-right: 15px;
  text-align: center; }
#rgcontent{
  width: 100%!important;
  min-width: 500px!important;
}
body.open .navbar .navbar-brand.hidden {
  display: block; }

.open aside.left-panel {
  max-width: 70px;
  width: 70px; }
  .open aside.left-panel .navbar .navbar-brand {
    display: none; }
    .open aside.left-panel .navbar .navbar-brand.hidden {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 0;
      padding-right: 0;
      text-align: center; }
      .open aside.left-panel .navbar .navbar-brand.hidden img {
        max-width: 30px;
        margin: 0 auto; }
    .open aside.left-panel .navbar .navbar-brand.d-md-none {
      display: block !important;
      margin: 13px 0 0;
      min-height: 67px;
      padding: 0;
      text-align: center; }
  .open aside.left-panel .navbar .navbar-nav:before {
    display: none !important; }
  .open aside.left-panel .navbar .navbar-nav li {
    position: relative; }
    .open aside.left-panel .navbar .navbar-nav li a {
      font-size: 0;
      z-index: 0;
      visibility: none;
      -webkit-transition:none;
      transition: none; }
      .open aside.left-panel .navbar .navbar-nav li a .menu-icon {
        font-size: 20px;
        z-index: -1;
        width: inherit; }
      .open aside.left-panel .navbar .navbar-nav li a .menu-title-text {
        font-size: 0; }
      .open aside.left-panel .navbar .navbar-nav li a .badge {
        display: none; }
    .open aside.left-panel .navbar .navbar-nav li > a {
      max-width: 60px;
      padding-left: 0; }
    .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children {
      overflow: hidden; }
      .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
        content: '';
        display: none; }
      .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children ul {
        padding-left: 0; }
      .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
        display: block;
        left: inherit;
        right: -180px;
        top: 0; }
        .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
          display: block;
          font-size: 14px;
          max-width: inherit;
          padding: 2px 15px 2px 25px;
          width: 100%; }
          .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a .menu-icon {
            text-align: center; }
      .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show {
        overflow: visible; }
        .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
          position: absolute !important; }
    .open aside.left-panel .navbar .navbar-nav li span.count {
      display: none;
      margin-right: 5px;
      z-index: 1; }
    .open aside.left-panel .navbar .navbar-nav li.active a:after {
      content: '';
      display: none; }
  .open aside.left-panel .navbar .navbar-nav .menu-title {
    font-size: 0;
    line-height: 0;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 0; }

/* Right panel */
.right-panel {
  display: table-cell;
  padding-left: 0 !important;
  width: 80%!important;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  .right-panel .breadcrumbs {
    background-color: #fff;
    display: inline-block;
    margin-top: 0;
    padding: 0 5px;
    width: 100%; }
    .right-panel .breadcrumbs .col-lg-8 .page-header {
      float: left; }
  .right-panel .page-header {
    min-height: 50px;
    margin: 0;
    padding: 0 15px;
    background: #ffffff;
    border-bottom: 0; }
    .right-panel .page-header h1 {
      font-size: 18px;
      padding: 15px 0; }
    .right-panel .page-header .breadcrumb {
      margin: 0;
      padding: 13.5px 0;
      background: #fff;
      text-transform: capitalize; }
    .right-panel .page-header .breadcrumb > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0"; }

.right-panel header.header {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  clear: both;
  display: inline-block;
  padding: 15px 20px 13px;
  width: 100%; }

.open .right-panel {
  margin-left: -210px;
  width: 100%!important }

header.fixed-top {
  background: #fff;
  padding: 20px; }

.header-menu .col-sm-7 {
  position: inherit;
  width: 60% !important }
.header-menu .col-sm-7 h4{
  position: inherit;
  display: inline!important;
  width: 400px !important }
  #dp{
    margin-left: 40%;
  }
.menutoggle {
  background: #e74c3c;
  border-radius: 50%;
  color: #fff !important;
  cursor: pointer;
  font-size: 18px;
  height: 43px;
  line-height: 44px;
  margin: -2px 20px 0 -57px;
  text-align: center;
  width: 43px; }

.open .menutoggle i:before {
  content: "\f0a4"; }

.search-trigger {
  background: transparent;
  border: none;
  color: #272c33;
  cursor: pointer;
  font-size: 16px;
  height: 41px;
  width: 43px;
  line-height: 38px; }

header .form-inline {
  background: #263238;
  display: none;
  height: 70px;
  margin: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999; }
  header .form-inline .search-form {
    height: 100%;
    max-width: 1025px;
    margin: 0 auto;
    position: relative; }
    header .form-inline .search-form input[type="text"] {
      background: #263238;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: #d3d3d3;
      font-size: 16px;
      height: inherit;
      margin-right: 0 !important;
      padding: 10px 36px 10px 15px;
      width: 100%; }
    header .form-inline .search-form input[type="text"].active,
    header .form-inline .search-form input[type="text"]:focus {
      border-color: rgba(0, 0, 0, 0.125);
      outline: 0; }
    header .form-inline .search-form button {
      background: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -14px !important; }
    header .form-inline .search-form .btn-outline-success:hover,
    header .form-inline .search-form button:active,
    header .form-inline .search-form button:focus,
    header .form-inline .search-form button:visited {
      background: transparent;
      border: none !important;
      box-shadow: none;
      outline: 0 !important; }
    header .form-inline .search-form.close {
      display: none; }

.header-left.open .form-inline {
  display: block; }

.header-left .dropdown {
  display: inline-block; }
  .header-left .dropdown .dropdown-toggle {
    background: transparent;
    border: none;
    color: #272c33;
    font-size: 16px; }
    .header-left .dropdown .dropdown-toggle:after {
      display: none; }
    .header-left .dropdown .dropdown-toggle .count {
      border-radius: 50%;
      color: #fff;
      font-size: 11px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      right: 0;
      top: 0;
      position: absolute; }
    .header-left .dropdown .dropdown-toggle:active, .header-left .dropdown .dropdown-toggle:focus, .header-left .dropdown .dropdown-toggle:visited {
      background: none !important;
      border-color: transparent !important;
      color: #272c33 !important; }
  .header-left .dropdown .dropdown-menu {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    top: 49px !important; }
    .header-left .dropdown .dropdown-menu p {
      font-size: 15px;
      margin: 0;
      padding: 5px 15px; }
    .header-left .dropdown .dropdown-menu .dropdown-item {
      color: #272c33;
      font-size: 13px;
      padding: 10px 15px 3px;
      text-overflow: ellipsis; }
      .header-left .dropdown .dropdown-menu .dropdown-item .photo {
        float: left;
        margin-right: 15px;
        width: 25px; }
      .header-left .dropdown .dropdown-menu .dropdown-item .message .name {
        margin-top: -5px; }
      .header-left .dropdown .dropdown-menu .dropdown-item .message .time {
        font-size: 11px; }
      .header-left .dropdown .dropdown-menu .dropdown-item .message p {
        clear: both;
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-overflow: ellipsis; }
      .header-left .dropdown .dropdown-menu .dropdown-item:hover {
        background: transparent; }

.dropdown-menu {
  border-radius: 0;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important; }

.for-notification .dropdown-menu .dropdown-item {
  padding: 5px 15px !important;
  text-overflow: ellipsis; }
  .for-notification .dropdown-menu .dropdown-item i {
    float: left;
    font-size: 14px;
    margin: 5px 5px 0 0;
    text-align: left;
    width: 20px; }
  .for-notification .dropdown-menu .dropdown-item p {
    padding: 0 !important;
    text-overflow: ellipsis; }

.user-area {
  float: right;
  margin-right: 0px!important;
  padding-right: 0px!important;
  position: relative; }
  .user-area .user-menu {
    background: #fff;
    border: none;
    font-family: 'Open Sans';
    left: inherit !important;
    right: 0;
    top: 55px !important;
    margin: 0;
    max-width: 150px;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    min-width: 150px; }
    .user-area .user-menu .nav-link {
      color: #272c33;
      display: block;
      font-size: 14px;
      line-height: 22px;
      padding: 5px 0; }
  .user-area .user-avatar {
    float: right;
    margin-top: 4px;
    padding-right: 0px!important;
    width: 28px; }
  .user-area .user-info .name {
    color: #8c8c8c;
    font-size: 14px;
    position: relative;
    text-transform: uppercase; }
  .user-area .count {
    background: #d9534f;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center; }
  .user-area .dropdown-toggle:after {
    display: none; }

#menuToggle2 {
  padding-left: 25px; }




@media (max-width: 1368px) {
  .content {
    padding: 0 15px; }
  .twt-category {
    margin-bottom: 0; }
  .twt-feed {
    max-height: 155px; }
    .twt-feed img {
      height: 75px;
      width: 75px; }
  .stat-widget-one .stat-content {
    margin-left: 15px; }
  .card-body {
    padding: 15px; }
  .badges button {
    margin: 2px 0; } }

@media (max-width: 1024px) {
  aside.left-panel {
    padding: 0 20px;
    width: 200px; }
  .navbar .navbar-nav li > a .menu-icon {
    width: 30px; }
  .navbar .navbar-nav li.menu-item-has-children .sub-menu {
    padding: 0 0 0 30px; }
  .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
    padding: 2px 0 2px 25px; }
  .card .card-header {
    position: relative; }
    .card .card-header strong {
      display: block; }
    .card .card-header small {
      float: left; }
    .card .card-header .card-actions {
      right: 0;
      top: 0.75rem;
      position: absolute; } }

@media (max-width: 992px) {
  [class*="col"].no-padding {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; } }

@media (max-width: 575.99px) {
  body {
    display: block; }
  aside.left-panel {
    display: block;
    height: auto;
    min-height: inherit;
    padding: 0 15px;
    width: 100%; }
    aside.left-panel .navbar {
      margin-bottom: 0; }
      aside.left-panel .navbar .navbar-header {
        height: 50px; }
      aside.left-panel .navbar .navbar-brand {
        border-bottom: none;
        display: inline-block;
        float: left;
        line-height: 1;
        margin-top: 11px;
        min-height: inherit; }
        aside.left-panel .navbar .navbar-brand.hidden {
          display: none; }
      aside.left-panel .navbar .navbar-toggler {
        float: right;
        margin-top: 8px; }
      aside.left-panel .navbar .navbar-nav li > a {
        padding: 5px 0; }
      aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
        top: 5px; }
      aside.left-panel .navbar .menu-title {
        line-height: 30px;
        padding: 0; }
  .menutoggle {
    display: none; }
  .right-panel {
    display: block; 
    width: 80%!important;
  }
    .right-panel header.header {
      padding: 5px 10px 1px 5px; }
      .right-panel header.header div[class*="col"] {
        padding: 0;
        width: initial; }
      .right-panel header.header .col-sm-7 {
        float: left;
         }
      .right-panel header.header .col-sm-5 {
        float: right;
        display: inline-block;
        padding-left: 10%;
        max-width: 40%;
        margin-left:10%!important; }
    .right-panel .breadcrumbs {
      padding: 10px 15px; }
      .right-panel .breadcrumbs div[class*="col"] {
        padding: 0; }
      .right-panel .breadcrumbs .page-header {
        min-height: inherit;
        padding: 0; }
        .right-panel .breadcrumbs .page-header h1 {
          padding: 5px 0; }
        .right-panel .breadcrumbs .page-header.float-right {
          float: left;
          text-align: left;
          width: 100%; }
          .right-panel .breadcrumbs .page-header.float-right .breadcrumb {
            padding: 0; }
    .right-panel .content {
      padding: 0 10px; }
      .right-panel .content .card .card-title {
        margin-bottom: 0; }
      .right-panel .content .card .card-footer {
        padding: 15px 5px; }
        .right-panel .content .card .card-footer ul {
          margin: 0; }
          .right-panel .content .card .card-footer ul li {
            float: left;
            margin: 5px 0;
            padding: 0 10px;
            width: 33.33%; }
      .right-panel .content div[class*="col"] {
        padding: 0; }
      .right-panel .content .row div[class*="col"] {
        padding: 0 10px; }
      .right-panel .content .nav-pills .nav-link,
      .right-panel .content .nav-tabs .nav-link {
        padding: 0.5rem; }
      .right-panel .content .tab-content.pl-3 {
        padding-left: 0 !important; }
      .right-panel .content #bootstrap-data-table_wrapper {
        font-size: 14px;
        padding: 0; }
        .right-panel .content #bootstrap-data-table_wrapper div[class*="col"] {
          padding: 0; }
        .right-panel .content #bootstrap-data-table_wrapper .table td,
        .right-panel .content #bootstrap-data-table_wrapper .table th {
          padding: 5px; } }
       @media(min-width: 576px){
        .col-sm-5{
          flex: 0 0 49%!important;
          margin-left: 0px;
          padding-left: 300px;
          max-width: 40%!important;
        }
        .col-sm-5 h6{ 
          margin-top: 10px!important;
        }
       }
       .col-sm-12 {
        width: 100%!important;
       }
       .col-sm-12 h1 {
        font-size: 25px;
        
        width: 100%!important;
       }